.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-text-1 {
  margin: 49px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-1 .u-image-1 {
  width: 509px;
  height: 339px;
  margin: 23px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }
}